.iconContent{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.iconImg img{
    height:80px;
    background-size: cover;
    border-radius: 50px;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.coursetxt{
    font-weight: bold;
    font-size: 20px;
}